<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-color: cadetblue;">
    <center><h1>Welcome to Database</h1></center>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="Firstname"><br><br>
        <input type="text" name="lastname" placeholder="Lastname"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="date" name="dob"><br><br>
        <input type="number" name="mobile" placeholder="Mobile"><br><br>
        <textarea placeholder="Address" name="address"></textarea><br><br>
        <input type="submit" value="Save">
    </form>
    <hr>
    <a href="/showdata">Showdata</a>
</body>
</html>