<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.png">
    <style>
        /* Internal CSS */
    </style>
</head>
<body style="background-color: aquamarine;">
    <center><h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(10, 83, 22);">Welcome to Database</h1></center>
    <hr>
</body>
</html>